body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

header {
  padding: 60px 20px;
  background: linear-gradient(135deg, #2563eb, #1e3a8a);
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 20px;
  background: white;
  color: #1e3a8a;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.servicios {
  padding: 40px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 8px;
  width: 150px;
}

#contacto {
  padding: 40px 20px;
  background: #020617;
}

form {
  max-width: 400px;
  margin: auto;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

button {
  background: #2563eb;
  color: white;
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}
